body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: white;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    
    font-size: 18px;
}
main {
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.training-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.training-card img {
    width: 40%;
    border-radius: 8px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    .grid-container {
        grid-template-columns: 1fr;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
input, textarea {
    width: 95%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: none;
}
button {
    background: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    align-self: flex-end;
}

button:hover {
    background: #555;
}

img {
    height: 150px
}

.startTraining {
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.startTraining:hover {
    background-color: #45a049;
}

#toggleDietForm {
    margin-top: 10px;
}
#dietFormContainer {
    display: none;
    width: 40%;
    margin: auto;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}